<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Товар - Мой Магазин</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">
<div class="container p-2">
    <div class="row p-2">
        <div class="col">
            <div class="hstack gap-3">
                <h2><span class="badge text-bg-success">Витрина магазина</span></h2>
                <a sec:authorize="isAuthenticated()" href="/orders"
                   class="btn btn-secondary ms-auto bi bi-file-earmark-text"> Заказы</a>
                <a sec:authorize="isAuthenticated()" href="/cart/items" class="btn btn-secondary bi bi-cart4">
                    Корзина</a>
                <a href="/items" class="btn btn-secondary bi bi-arrow-left-square"> Главная</a>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-danger">Выход</button>
                </form>
                <a sec:authorize="isAnonymous()" href="/login" class="btn btn-primary ms-auto">Войти</a>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <img class="p-4" th:src="${'/'+item.imgPath()}" alt="Нет изображения">
                <div class="card-body">
                    <h3 class="card-title" th:text="${item.title()}"></h3>
                    <h4 class="text-success" th:text="${item.price()}+' руб.'"></h4>
                    <p class="card-text py-3" th:text="${item.description()}"></p>

                    <!-- Управление доступно только авторизованным -->
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{${'/items/'+item.id()}}" method="post">
                            <div class="hstack gap-3">
                                <button type="submit" class="btn btn-outline-secondary" name="action" value="MINUS">-
                                </button>
                                <span class="fs-4" th:text="${item.count()}"></span>
                                <button type="submit" class="btn btn-outline-secondary" name="action" value="PLUS">+
                                </button>
                                <button type="submit" class="btn btn-warning ms-auto bi bi-cart4" name="action"
                                        value="PLUS" th:if="${item.count()==0}"> В корзину
                                </button>
                            </div>
                        </form>
                    </div>
                    <div sec:authorize="isAnonymous()" class="alert alert-info text-center">
                        Пожалуйста, <a href="/login">авторизуйтесь</a>, чтобы совершать покупки.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>